.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.logo-word {
  color: var(--main-title-color);
}

.logo-word--footer {
  color: var(--second-text-color);
}
