:root {
  --main-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --footer-contacts-link: rgba(255, 255, 255, 0.6);
  --second-bgncolor: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
